In [2]:
import os
os.listdir()

['data.csv', 'prediction.ipynb', 'refined_dataset.csv', 'README.md']

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data.csv',  encoding='iso-8859-1')

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
dec_data = df['date']=='2015-12-28'

In [7]:
df = df.fillna(0)

In [8]:
df[dec_data].head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
24387,389,28-12-15,Andhra Pradesh,Tirupati,Andhra Pradesh State Pollution Control Board,Sensitive Area,5.0,10.0,61.0,0.0,"Regional Science Centre, Chittoor Bypass Road,...",0.0,2015-12-28
24490,462,28-12-15,Andhra Pradesh,Vijayawada,Andhra Pradesh State Pollution Control Board,"Residential, Rural and other Areas",6.0,53.0,119.0,0.0,"Benz Circle, Vijayawada",0.0,2015-12-28
24598,466,28-12-15,Andhra Pradesh,Kurnool,Andhra Pradesh State Pollution Control Board,"Residential, Rural and other Areas",5.0,12.0,75.0,0.0,"Mourya Inn, Kurnool",0.0,2015-12-28
24808,469,28-12-15,Andhra Pradesh,Vijayawada,Andhra Pradesh State Pollution Control Board,Industrial Area,7.0,52.0,114.0,0.0,"Autonagar, Vijayawada",0.0,2015-12-28
25013,580,28-12-15,Andhra Pradesh,Nellore,Andhra Pradesh State Pollution Control Board,"Residential, Rural and other Areas",5.0,28.0,61.0,0.0,"Venkatareddy nagar, Vedayapalem, Nellore",0.0,2015-12-28

In [11]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [17]:
df.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

In [20]:
df = df.drop(columns = ['sampling_date'])

In [21]:
df.columns

Index(['stn_code', 'state', 'location', 'agency', 'type', 'so2', 'no2', 'rspm',
       'spm', 'location_monitoring_station', 'pm2_5', 'date'],
      dtype='object')

In [29]:
df = df.drop(columns=['stn_code', 'location', 'agency', 'type', 'location_monitoring_station'])

KeyError: "['stn_code' 'location' 'agency' 'type' 'location_monitoring_station'] not found in axis"

In [31]:
df = df.fillna(0)

In [36]:
df_new = df.groupby(['state', 'date'])

In [39]:
gdf=df_new.mean()

In [41]:
def calculate_si(so2):
    si=0
    if (so2<=40):
     si= so2*(50/40)
    if (so2>40 and so2<=80):
     si= 50+(so2-40)*(50/40)
    if (so2>80 and so2<=380):
     si= 100+(so2-80)*(100/300)
    if (so2>380 and so2<=800):
     si= 200+(so2-380)*(100/800)
    if (so2>800 and so2<=1600):
     si= 300+(so2-800)*(100/800)
    if (so2>1600):
     si= 400+(so2-1600)*(100/800)
    return si

In [43]:
gdf['si']=gdf['so2'].apply(calculate_si)

In [44]:
def calculate_ni(no2):
    ni=0
    if(no2<=40):
     ni= no2*50/40
    elif(no2>40 and no2<=80):
     ni= 50+(no2-14)*(50/40)
    elif(no2>80 and no2<=180):
     ni= 100+(no2-80)*(100/100)
    elif(no2>180 and no2<=280):
     ni= 200+(no2-180)*(100/100)
    elif(no2>280 and no2<=400):
     ni= 300+(no2-280)*(100/120)
    else:
     ni= 400+(no2-400)*(100/120)
    return ni
gdf['ni']=gdf['no2'].apply(calculate_ni)

In [45]:
gdf.head()

                                so2        no2  rspm         spm  pm2_5  \
state          date
Andhra Pradesh 1990-02-01  4.700000  17.633333   0.0    0.000000    0.0
               1990-03-01  5.800000  15.966667   0.0    0.000000    0.0
               1990-04-01  4.766667  16.266667   0.0    0.000000    0.0
               1990-05-01  3.800000  13.750000   0.0    0.000000    0.0
               1990-06-01  4.266667  15.066667   0.0  108.666667    0.0

                                 si         ni
state          date
Andhra Pradesh 1990-02-01  5.875000  22.041667
               1990-03-01  7.250000  19.958333
               1990-04-01  5.958333  20.333333
               1990-05-01  4.750000  17.187500
               1990-06-01  5.333333  18.833333

In [46]:
def calculate_rspm(rspm):
    rpi=0
    if(rpi<=30):
     rpi=rpi*50/30
    elif(rpi>30 and rpi<=60):
     rpi=50+(rpi-30)*50/30
    elif(rpi>60 and rpi<=90):
     rpi=100+(rpi-60)*100/30
    elif(rpi>90 and rpi<=120):
     rpi=200+(rpi-90)*100/30
    elif(rpi>120 and rpi<=250):
     rpi=300+(rpi-120)*(100/130)
    else:
     rpi=400+(rpi-250)*(100/130)
    return rpi
gdf['rpi']=gdf['rspm'].apply(calculate_rspm)

In [47]:
gdf.head()

                                so2        no2  rspm         spm  pm2_5  \
state          date
Andhra Pradesh 1990-02-01  4.700000  17.633333   0.0    0.000000    0.0
               1990-03-01  5.800000  15.966667   0.0    0.000000    0.0
               1990-04-01  4.766667  16.266667   0.0    0.000000    0.0
               1990-05-01  3.800000  13.750000   0.0    0.000000    0.0
               1990-06-01  4.266667  15.066667   0.0  108.666667    0.0

                                 si         ni  rpi
state          date
Andhra Pradesh 1990-02-01  5.875000  22.041667  0.0
               1990-03-01  7.250000  19.958333  0.0
               1990-04-01  5.958333  20.333333  0.0
               1990-05-01  4.750000  17.187500  0.0
               1990-06-01  5.333333  18.833333  0.0

In [48]:
def calculate_spi(spm):
    spi=0
    if(spm<=50):
     spi=spm
    if(spm<50 and spm<=100):
     spi=spm
    elif(spm>100 and spm<=250):
     spi= 100+(spm-100)*(100/150)
    elif(spm>250 and spm<=350):
     spi=200+(spm-250)
    elif(spm>350 and spm<=450):
     spi=300+(spm-350)*(100/80)
    else:
     spi=400+(spm-430)*(100/80)
    return spi
gdf['spi']=gdf['spm'].apply(calculate_spi)

In [49]:
def calculate_aqi(si,ni,spi,rpi):
    aqi=0
    if(si>ni and si>spi and si>rpi):
     aqi=si
    if(spi>si and spi>ni and spi>rpi):
     aqi=spi
    if(ni>si and ni>spi and ni>rpi):
     aqi=ni
    if(rpi>si and rpi>ni and rpi>spi):
     aqi=rpi
    return aqi
gdf['AQI']=gdf.apply(lambda x:calculate_aqi(x['si'],x['ni'],x['spi'],x['rpi']),axis=1)

In [50]:
gdf.head()

                                so2        no2  rspm         spm  pm2_5  \
state          date
Andhra Pradesh 1990-02-01  4.700000  17.633333   0.0    0.000000    0.0
               1990-03-01  5.800000  15.966667   0.0    0.000000    0.0
               1990-04-01  4.766667  16.266667   0.0    0.000000    0.0
               1990-05-01  3.800000  13.750000   0.0    0.000000    0.0
               1990-06-01  4.266667  15.066667   0.0  108.666667    0.0

                                 si         ni  rpi         spi         AQI
state          date
Andhra Pradesh 1990-02-01  5.875000  22.041667  0.0    0.000000   22.041667
               1990-03-01  7.250000  19.958333  0.0    0.000000   19.958333
               1990-04-01  5.958333  20.333333  0.0    0.000000   20.333333
               1990-05-01  4.750000  17.187500  0.0    0.000000   17.187500
               1990-06-01  5.333333  18.833333  0.0  105.777778  105.777778

In [52]:
gdf.to_csv('./refined_dataset.csv')

In [53]:
os.listdir()

['README.md', 'refined_dataset.csv', 'prediction.ipynb', 'data.csv']

In [1]:
df

NameError: name 'df' is not defined